<h1>New Entry</h1>

<%= form_with model: @entry do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :occurred_on %>
    <%= form.date_field :occurred_on %>
  </div>

  <%= form.hidden_field :place_id %>

  <div>
    <%= form.submit "Create Entry" %>
  </div>
<% end %>

<% if @existing_entry %>
  <%= link_to "Back", @existing_entry %>
<% else %>
  <%= link_to "Back to Places", places_path %>
<% end %>