<h1>the places ive been</h1>

<ul>
	<li><%= link_to "All Places", "/places" %></li>
	<li><%= link_to "France", "/places/France" %></li>
	<li><%= link_to "Florida", "/places/Florida" %></li>
	<li><%= link_to "Colorado", "/places/Colorado" %></li>
	<li><%= link_to "Montana", "/place/Montana" %></li>
</ul>